<div class="row main-row">
    <div class="col-12 main-col">
        <div class="main-card">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 25px; font-weight: 700;">{{name}} {{lastname}}</h3>
                    <p class="card-text" style="color: gray;">{{email}}</p>
                    <a class="card-text" href="../" style="margin-bottom: .5rem;">Link</a><br>
                </div>
            </div>
        </div>
    </div>
</div>